* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto
}

body * {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    margin: 70px;
    font-size: 35px;
}

p {
    font-size: 35px;
    margin-bottom: 50px;
    cursor: pointer;
}

p:hover{
    color: #914848;
}

button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: #3b1616;
    background-color: #e7d5da;
    border-radius: 5px;
    border: 2px #8f4949 solid;
    margin-top: 20px;
    cursor: pointer;
}

button:active {
    color: #a15858;
    background-color: #f3e4e7;
}

label {
    cursor: pointer;
}

div {
    margin-top: 10px;

}

label {
    font-size: 23px;

}

.label_input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #8f4949;
    border-radius: 2px;
    background-color: #fff8f8;
    cursor: pointer;
    margin: 0;
}

.label_input:checked {
    background-color: #b75252;
    border-color: #522323;
}

.label{
    color:#b75252;
    font-size: 25px;
}

.label_length{
    height:35px;
    width: 65px;
    font-size: 17px;
    color:#b75252;
    border-color: black;
}